## Coba Panda

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df = pd.read_csv("D:\\data.jabarprov.go.id\\dinsos-od_15570_jumlah_dtks_berdasarkan_kelurahan_data.csv")
df.head(5)

,id,kode_provinsi,nama_provinsi,bps_kode_kabupaten_kota,bps_nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,jumlah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201010,NANGGUNG,3201010001,MALASARI,1/21/32,NANGGUNG,32.01.21.2001,MALASARI,1075,KRTS,2019
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201010,NANGGUNG,3201010002,BANTAR KARET,1/21/32,NANGGUNG,32.01.21.2004,BANTARKARET,1277,KRTS,2019
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201010,NANGGUNG,3201010003,CISARUA,1/21/32,NANGGUNG,32.01.21.2003,CISARUA,1089,KRTS,2019
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201010,NANGGUNG,3201010004,CURUG BITUNG,1/21/32,NANGGUNG,32.01.21.2002,CURUGBITUNG,1092,KRTS,2019
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,3201010,NANGGUNG,3201010005,NANGGUNG,1/21/32,NANGGUNG,32.01.21.2007,NANGGUNG,851,KRTS,2019

In [27]:
df['bps_kode_kecamatan']

0        3201010
1        3201010
2        3201010
3        3201010
4        3201010
          ...
11951    3279040
11952    3279040
11953    3279040
11954    3279040
11955    3279040
Name: bps_kode_kecamatan, Length: 11956, dtype: object

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11956 entries, 0 to 11955
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              11956 non-null  int64
 1   kode_provinsi                   11956 non-null  int64
 2   nama_provinsi                   11956 non-null  object
 3   bps_kode_kabupaten_kota         11956 non-null  int64
 4   bps_nama_kabupaten_kota         11956 non-null  object
 5   bps_kode_kecamatan              11956 non-null  object
 6   bps_nama_kecamatan              11956 non-null  object
 7   bps_kode_desa_kelurahan         11956 non-null  object
 8   bps_desa_kelurahan              11956 non-null  object
 9   kemendagri_kode_kecamatan       11956 non-null  object
 10  kemendagri_nama_kecamatan       11956 non-null  object
 11  kemendagri_kode_desa_kelurahan  11956 non-null  object
 12  kemendagri_nama_desa_kelurahan  11956 non-null  object
 13  jumlah                          11956 non-null  int64
 14  satuan                          11956 non-null  object
 15  tahun                           11956 non-null  int64
dtypes: int64(5), object(11)
memory usage: 1.5+ MB

In [35]:
df.bps_kode_kabupaten_kota.value_counts()

3205    884
3201    868
3209    848
3202    772
3208    752
3203    720
3206    702
3210    690
3212    634
3215    618
3211    566
3204    562
3207    542
3213    516
3214    384
3216    374
3217    334
3273    302
3218    186
3278    138
3271    136
3276    126
3275    112
3272     66
3279     50
3274     44
3277     30
Name: bps_kode_kabupaten_kota, dtype: int64